@import '../../assets/scsses/config';

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #336657;
  border-bottom: solid 1px rgb(199, 198, 198);
}
.contents {
  display: flex;
  width: 96%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.menuButton {
  height: 42px;
  width: 77px;
  padding: 5px;
  border: 1px solid rgb(199, 198, 198);
  color: #336657;
  border-radius: 20px;
  background-color: white;
}
.menuButton:hover {
  box-shadow: 2px 2px 2px rgb(199, 198, 198);
}
.menu {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 70px;
  right: 40px;
  padding: 20px;
  background-color: white;
  border: 1px solid rgb(199, 198, 198);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(219, 218, 218);
}
.logo {
  display: flex;
  object-fit: scale-down;
}
