@import '../../assets/scsses/config';

.container {
  margin-top: 60px;
  overflow: hidden;
}
.searchBarArea {
  position: absolute;
  left: 0;
  top: 45vw;
  z-index: 5;
}
.hotSpotContainer {
  padding: 3vw 0 5vw 0;
}
.hotSpotContainer h3 {
  padding-left: 10vw;
  margin-bottom: 2vw;
}
.introContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 60vw;
  background-color: rgb(214, 214, 214);
}
.introContainer h3 {
  text-align: center;
}
.introImgBox {
  position: relative;
  height: 40vw;
  width: 40vw;
  margin: 0 10vw;
}
.introImgBox img {
  position: absolute;
  height: 30vw;
}
.introImgBox .introPhone2 {
  top: 8vw;
  left: 7vw;
}
.introImgBox .introPhone3 {
  top: 1vw;
  left: 16vw;
}
