@import '../../assets/scsses/config';

.banner {
  height: 70vh;
  overflow: hidden;
}

.mainCarousel {
  height: 100%;
}

.imgBox {
  height: 100%;
  display: flex;
  justify-content: center;
}

.imageFit {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}
