.main {
  width: 100%;
  text-align: center;
}
.form {
  text-align: left !important;
}
.formButton {
  width: 100%;
  margin-bottom: 10px;
}
.errMessage {
  --bs-text-opacity: 1;
  color: red !important;
}
.groupInput {
  display: block;
  width: 100%;
  padding-right: 0.75rem;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.nonBorder {
  border: none !important;
}
.kakaoButton {
  width: 100%;
  margin-bottom: 10px;
  background-color: yellow !important;
}
.kakaoButton:hover {
  width: 100%;
  margin-bottom: 10px;
  background-color: rgb(223, 223, 30) !important;
}
.signUpLink {
  color: black;
}
