@import '../../assets/scsses/config';

.select {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 700px;
  height: 500px;
  background-color: white;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close {
  position: absolute;
  border: 0px;
  width: 50px !important;
  height: 50px !important;
  right: 10px;
  top: 10px;
}
.modalBackground {
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.title {
  width: 400px;
  height: 40px;
  text-align: center;
  font-size: 25px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 30px;
}
.subTitle {
  width: 200px;
  text-align: center;
  font-size: 12px;
  margin-left: 50%;
  transform: translate(-50%);
}
.cardBox {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  margin-top: 20px;
  margin-left: 50px;
}
.card {
  display: flex;
  width: 195px;
  height: 90px;
  border: 0px;
  border-radius: 5px;
  margin-right: 10px;
  overflow: hidden;
  padding: 0%;
}
.cardActive {
  display: flex;
  width: 195px;
  height: 90px;
  border: 1px solid #336657;
  border-radius: 5px;
  margin-right: 10px;
  overflow: hidden;
  padding: 0%;
}
.card:hover {
  border: 1px solid #336657;
}
.cardImg {
  width: 110px;
  height: 90px;
  overflow: hidden;
  object-fit: cover;
}
.cardText {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.buttonBox {
  width: 600px;
  height: 40px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
}
.nextButton {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 0px;
  background-color: #336657;
  color: white;
}
