@import '../../assets/scsses/config';

.pageContainer {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 440px 1fr;
  grid-template-rows: 60px 1fr;
}

.navbarContainer {
  grid-area: 1 / 1 / 2 / 3;
}

.cardItemsContainer {
  grid-area: 2 / 1 / 3 / 2;
  overflow-y: scroll;
  padding: 0;
}

.mapContainer {
  grid-area: 2 / 2 / 3 / 3;
}
