@import '../../assets/scsses/config';

.main {
  flex-direction: row !important;
  display: inline-block;
  width: 100%;
  height: 160px !important;
  min-height: 160px !important;
  background-color: white;
  border-radius: 10px;
  border: 1px solid white;
}
.img {
  width: 35% !important;
  min-width: 35% !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: calc(0.25rem - 1px) !important;
}
.content {
  width: 100% !important;
  height: 100% !important;
  position: relative;
}
.title {
  font-weight: bold !important;
  white-space: pre;
}
.linkBox {
  position: absolute;
  bottom: 8px;
  right: 10px;
}
.links {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.63);
  text-decoration: none;
}
.links:hover {
  text-decoration: underline;
  color: black;
}
