/* ref: https://davidwalsh.name/css-flip */
@import '../../assets/scsses/config';

/* entire container, keeps perspective */

.card {
  width: 350px;
  height: 250px;
  overflow: hidden;
  padding-bottom: 30px;
  border-radius: 30px;
}

.card img {
  width: 350px;
  height: 250px;
}

.card .caption {
  top: 250px;
  width: 350px;
  height: 250px;
  background: rgba($color: gray, $alpha: 0.7);
  transition: all 0.6s ease-in-out;
  z-index: 10;
}
.card li:hover .caption {
  transform: translateY(-250px);
}
.card .caption h2 {
  padding-top: 50px;
  padding-left: 20px;
  color: black;
  text-align: left;
}
.card .caption p {
  padding-left: 20px;
  color: black;
  text-align: left;
}
