@import '../../assets/scsses/config';

.card {
  height: 60vw;
  width: 90vw;
  overflow: hidden;
  border-radius: 30px;
  margin: 0 1vw 0 1vw;
  display: flex;
  justify-content: center;
}

.card img {
  height: 100%;
}

.card .caption {
  position: absolute;
  top: 40vw;
  padding-left: 3vw;
  width: 90vw;
  height: auto;
}
.card .caption h3 {
  color: white;
  text-align: left;
}
.card .caption p {
  margin: 0;
  color: white;
  text-align: left;
}
